<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.skhu.mapper.CategoryMapper">

	<select id="findAll" resultMap="categoryWithProducts">

		select c.*, p.id productId, p.name, p.categoryId, p.price, p.quantity
		from category c join product p
		on c.id=p.categoryId

	</select>

	<resultMap id="categoryWithProducts" type="net.skhu.dto.Category">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="titleEng" column="titleEng" />
		<collection property="products" ofType="net.skhu.dto.Product">
			<id property="id" column="productId" />
			<result property="name" column="name" />
			<result property="categoryId" column="categoryId" />
			<result property="price" column="price" />
			<result property="quantity" column="quantity" />
		</collection>
	</resultMap>
</mapper>